<po-page-default p-title="Alterar">
  <po-dynamic-form #dynamicForm
    [p-fields]= "fields"
    [p-value]="turma">
  </po-dynamic-form>
  <div class="po-row">
    <po-button
      class="po-md-3"
      p-label="Save"
      [p-disabled]="dynamicForm?.form.invalid"
      (p-click)="onSubmit();"
    >
    </po-button>
  </div>
  <po-divider
    p-label="Alunos" >
  </po-divider>
  <div class="po-row">
    <po-button p-label="Matricular aluno" (p-click)="abreMatricular()"> </po-button>
    <po-button p-label="Gerar pagamentos" (p-click)="abrePagamentos()"> </po-button>
  </div>
  <po-table
    p-sort="true"
    [p-columns]="turmaColumns"
    p-auto-collapse
    [p-items]="turma?.alunos"
    [p-striped]="true"
  ></po-table>
</po-page-default>
<po-modal p-title="Matricular" [p-primary-action]="confirm" [p-secondary-action]="close" #modalMatricula>
  <div >
    <div class="po-row">
      <p>Procura aluno</p>
      <po-lookup
      [(ngModel)]="alunoParaMatricular"
        name="lookup"
        p-field-label="nome"
        p-field-value="id"
        p-filter-service="/api/clientes"
        p-label="Alunos"
        [p-columns]="colunasLookup"
      >
      </po-lookup>
    </div>
  </div>
</po-modal>

<po-modal p-title="Gerar pagamentos" [p-primary-action]="geraPagamentos" [p-secondary-action]="fechaPagamentos" #modalPagamentos>
  <div >
    <po-dynamic-form #formGerarPagamentos
      [p-fields]= "fieldsPagamentos"
      [p-value]="geraPagamentoModel">
  </po-dynamic-form>
  </div>
</po-modal>
