<po-page-default p-title="Alterar">
  <po-dynamic-form #dynamicForm
    [p-fields]= "fields"
    [p-value]="turma">
  </po-dynamic-form>
  <div class="po-row">
    <po-button
      class="po-md-3"
      p-label="Save"
      [p-disabled]="dynamicForm?.form.invalid"
      (p-click)="onSubmit();"
    >
    </po-button>
  </div>
  <po-divider
    p-label="Alunos" >
  </po-divider>
  <po-table
    p-hide-columns-manager
    p-sort="true"
    p-auto-collapse
    [p-items]="turma.alunos"
    [p-striped]="true"
  ></po-table>
</po-page-default>

