<po-page-default p-title="Novo cliente">
  <po-dynamic-form #clienteForm
    [p-fields]= "fields"
    [p-value]="cliente">
  </po-dynamic-form>
  <div class="po-row">
    <po-button
      class="po-md-3"
      p-label="Salvar"
      [p-disabled]="clienteForm?.form.invalid"
      (p-click)="salvar(clienteForm);"
    >
    </po-button>
    <po-button
      class="po-md-3"
      p-label="Salvar e criar novo"
      [p-disabled]="clienteForm?.form.invalid"
      (p-click)="salvarECriarNovo(clienteForm);"
    >
    </po-button>
  </div>
</po-page-default>
